.fade-in-enter-active,
.fade-in-leave-active {
  transition: opacity 450ms ease-in-out, transform 600ms var(--timing);
  will-change: transform, opacity;
}

.fade-in-enter-from,
.fade-in-leave-active {
  opacity: 0;
  transform: scale(0.95)
}

.layout-enter-active,
.layout-leave-active {
  transition: transform 300ms, opacity 500ms, filter 500ms;
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  filter: blur(2px) brightness(0);
}

.page-enter-active,
.page-leave-active {
  transition: all 300ms;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: scale(0.98);
  filter: blur(2px);
}
